@font-face {

  font-family: "Bodoni bold";
  src: url("bodoni_bold.otf") format("opentype");
  font-weight:normal;
  font-style:normal;

}

html {

  box-sizing: border-box;
  /* font-family: "Bodoni bold"; */

}

html, body {

  width:100vw;
  height:100vh;
  
  margin:0;

  scroll-behavior: smooth;

  background:#CCCCCD;

}

/* set the webpage background as a grid of pictures */

.PromoContainer {


  scroll-snap-type: y proximity;

}

.PromoContainer-picture {

  width: 100vw;
  /* width:100%; */

  margin-bottom:0;

  scroll-snap-align: center;

  vertical-align: bottom;

  object-fit: cover;

}

.PromoContainer-picture:nth-of-type(2) {

  /* border:2px solid red; */

}

video-placeholder {

  scroll-snap-align: center;

}

.VideoPlaceholder-button-playIcon {

  position: relative;
  top:35%;

  width:30%;
  height: 30%;

  filter: invert(50%); /* will pass from black to grey */

  transition: all 0.2s ease-in-out; /* scale and filter */
  

}

.VideoPlaceholder-button-playIcon:hover {


  transform: scale(1.2);
  transform: rotate(360deg);
  filter: invert(1%);

}


.VideoPlaceholder-button-placeholder {

  margin-top:-11em;

  width: 100vw;

}

video-placeholder,
.VideoPlaceholder-video {

  height:55vh;

} 

.PromoContainer-downloadText {

  width:100%;
  height:50%;

  font-family: "Bodoni bold";

  font-size:2.1rem;

  cursor: pointer;

  text-align: center;
  
  /* color: #7E7E7E; */
  color:black;

  
} 

.PromoContainer-downloadButtonContainer {

  display: flex;
  justify-content: center;

}

a { /* download button parent */

  width:100%;
  flex-basis:20%;

}


.PromoContainer-downloadButtonContainer-button {

  width:100%;
  height:100%;

  vertical-align: bottom;

  animation: pulsate 7s ease-in-out;
  animation-iteration-count: infinite;

}

/* functions */

@keyframes pulsate {

  0% {

    opacity:0;

  }

  25% {

    opacity: 0.50;

  }

  50% {
    
    opacity:0.1;

  }

  75% {
    
    opacity:0.50;

  }

  100% {
    
    opacity:0;

  }

}