* {

  box-sizing: border-box;
  font-family: 'Bodoni';

}

@font-face {

  font-family: bodoni;
  src: url('webfont/apercu-regular-webfont.ttf');
  color:white;

}

html, body {

  width:100vw;
  height:100vh;
  
  margin:0;

}

h1 {

  font-size:1.5em;

}

/* set the webpage background as a grid of pictures */


.Background {

  display: grid;
  grid-template-columns: 100vw;

}

.Background-picture {

  width:100%;
  opacity:1;
  
}

.Background-picture.flex {

  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  max-height:60vh;

}

.Background-picture-portrait {

  margin:0;
  padding:0;
  flex-basis: 80%;
}

.Background-picture-downloadMessage {

  background:black;
  margin:0;

}

.Background-picture-downloadMessage {

  color:white;
  font-size:1em;
  flex-basis: 20%;
  padding:0.6em 1em;

}


.TextBox {

  position: absolute;
  bottom:11em;
  left:1.5em;
  right:1.5em;

  opacity:0.8;

  max-width: 80%;

  cursor: pointer;

  padding:0.4em;

  text-align: center;

  background:black;

  color:white;
  transition: color 0.5s ease-in-out;

}

.TextBox:hover {

  color: #AEAEAE;

}

.TextBoxes-text2 {

/* only change vertical alignement */

  bottom:-13.5em;

}

.TextBoxes-text3 {

/* only change vertical alignement */

bottom:-26.5em;

}

