@font-face {

  font-family: "Bodoni bold";
  src: url("bodoni_bold.otf") format("opentype");
  font-weight:normal;
  font-style:normal;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  margin:0;
  background: #CCCCCE;

}

/* set the webpage background as a grid of pictures */

.GridContent {

  width:100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(1, 1fr);

}

.GridContent-item {

  vertical-align:bottom;
  margin:0;

  width:100%;
  height: 100%;


}

.GridContent-item-img {

  width:100%;
  height:100%;

  vertical-align: bottom;

}

/* block 2/5 > no styling for CoverBlock 1/4 */
.VideoBlock-videoElement {

  display: flex;
  flex-direction: column;

  height: 60vh;

}

.VideoBlock-videoElement-button  {

  flex-basis: 50%;

  height:25vh;

  display:flex;
  flex-direction: column;

  background:#CCCCCD;
  transition: background 0.2s ease-in-out;

}

.VideoBlock-videoElement-button:hover {

  background:black;

}

.VideoBlock-videoElement-button-img {

  width: 100vw;
  height: 25vh;

  margin-left: auto;
  margin-right: auto;

  filter: invert(100%);

  cursor: pointer;

  transition: all 0.2s ease-in-out; /* scale and filter */
  
}



.VideoBlock-videoElement-button:hover > img {

  transform: scale(1.2);
  transform: rotate(360deg);
  filter: invert(1%);
  background: black;

}



.VideoBlock-videoElement-button-placeholder1 {


  flex-basis: 50%;

  margin:0; 

}

.VideoBlock-videoElement-button-placeholder2 {

  /* placeholder for ld version */
  display: none;

}

/* block 3/5 */

.DownloadBlock {

  display: inline-flex;
  flex-direction: column;

  align-items: center;

  /* background: #D6D6D8; */
  background: #CCCCCE;

  margin-bottom:-2.2em;
}


.DownloadBlock-downloadText {

  width:99%;

  font-family: "Bodoni bold";

  font-size:2em;

  padding:0.1em;

  text-align: center;
  
  color:black;

  background: #CCCCCE;

  /* flex-basis: 10%;
  flex-shrink: 0; */

  
} 

.DownloadBlock-downloadButtonContainer {

  /* display: flex; */
  justify-content: center;

  background: #CCCCCE;

  height:15%;
  
  margin-bottom:0.3em;


}

.DownloadBlock-downloadButtonContainer-img {

  width:100%;
  height:100%;

  vertical-align: bottom;

  margin-top:0em;

}
.DownloadBlock-img {

  cursor: pointer;

  width:100%;
  /* height: 80%; */

  object-fit: cover;

  /* border:2px solid green; */

}

/* block 4/5 */

.SocialBlock {

  display: flex;
  align-items: stretch;
  justify-content: space-evenly;

  /* background:#D6D6D8; */
  background: #CCCCCE;

  /* border:2px solid red; */

  height: auto;

}

.SocialBlock > * {

}

.SocialBlock-link-tarteletSVG {

  width:3.8em;
  height:3.8em;


}

.SoundcloudIcon {

  width: 3.6rem;
  height:3.6rem;

}

.FacebookIcon {

  width: 4rem;
  height:4rem;

}

/* block 5/5 */

.TrackListBlock {

  display: none;

}