@font-face {
  font-family: 'Bodoni bold';
  src: url('bodoni_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: black;
  color: white;
  font-family: Bodoni bold, serif;
  font-size: calc(10px + 1.2vw);
  line-height: 1.4;
}

body {
  margin: 0;
  color:white;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* FixedIconsBlock block */

.FixedIconsBlock {

  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 50vh;
  margin-top:-5%;

  margin-left:0.2em;

}

/* VideoBlock  */

.VideoBlock {
  width: 95%;
  margin: 15vh auto 6vh;
}


.PlayButton {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
  height: 64px;
  width: 64px;
  opacity: 0.6;
  transition: opacity 200ms;
}

video-placeholder {
  background: #222;
}

[is='video-placeholder-front']:hover {
  cursor: pointer;
}

[is='video-placeholder-front']:hover .PlayButton {
  opacity: 1;
}

iframe {
  border: 0;
}

/* BackVinyl block */

.BackVinyl {
  display: block;
  max-width: 70%;
  height: auto;
  margin: 8vh auto;
}

/* jitwam and preoroder icons put horizontally */

.Spinner {

  width: 30%;
  height: 30%;

  cursor: pointer;

}

.PreorderBlock {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: left;

  margin-left:4%;
  margin-top: -5%;

  width:100%;
  height: 50%;
  
}

.PreorderBlock-img {

  width: 22%;
  height:52%;

}

.PreorderBlock-text {

  font-size:90%;
  text-decoration: none;
  color:white;

  margin-left:2%;

}


.SocialIcons {

  height:9vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

}

.SocialBlock-link {
 
  height: 100%; 

}

/* social icons block */

.SocialBlock-link-tarteletSVG,
.FacebookIcon,
.SoundcloudIcon {

  height:100%;


}

/* make video takes more space */

@media (min-width: 40em) {

  .VideoBlock {

    max-width: 65%;

  }

}

/* jitwam and preoroder icons put vertically */

@media (max-width: 770px) {

.FixedIconsBlock {

  flex-direction: row;
  justify-content: start;

  width: 60%;

  margin-top:-14%;

  }

  .PreorderBlock {
    flex-direction: row;
    justify-content: flex-start;

  }

  .PreorderBlock-img {

    margin-top:10%;

  }

  .PreorderBlock-text {

    margin-top:12%;

  }

}