*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: 'Bodoni 16', Bodoni, serif;
  font-size: calc(15px + 0.2vw);
  line-height: 1.4;
  background: black;
  color: hsl(0, 0%, 80%);
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:link,
a:visited {
  color: white;
}

.PreorderBlock {
  float: right;
  position: sticky;
  z-index: 2;
  margin-top: 40vh;
  top: 1rem;
  right: 2vw;
  text-align: center;
}

@media (max-width: 40em) {
  .PreorderBlock {
    position: absolute;
    margin-top: 0;
  }
}

.Spinner {
  width: calc(4rem + 3vw);
  height: calc(4rem + 3vw);
  animation: spinner 40s infinite;
  cursor: grab;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.PreorderBlock a {
  display: block;
  text-decoration: none;
  text-shadow: 1px 1px 0 black;
  line-height: 1.2;
  font-size: larger;
}

.PreorderBlock a:hover {
  text-decoration: underline;
}

.VideoBlock {
  width: 90%;
  margin: 8vh auto 0vh;
}

@media (min-width: 40em) {
  .VideoBlock {
  }
}

.PlayButton {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
  height: 64px;
  width: 64px;
  opacity: 0.6;
  transition: opacity 200ms;
}

video-placeholder img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.TitleImage {
  mix-blend-mode: darken;
  opacity: 0.7;
  transition: opacity 600ms;
  transform: scale(1.2);
}

video-placeholder {
  background: #222;
}

[is='video-placeholder-front']:hover {
  cursor: pointer;
}

[is='video-placeholder-front']:hover .PlayButton {
  opacity: 1;
}

[is='video-placeholder-front']:hover .TitleImage {
  opacity: 0.3;
}

iframe {
  border: 0;
}

.TextContainer {
  text-indent: 1em;
  margin: 3rem 0;
  max-width: 37em;
  /* text-align: center; */
}

.SocialIcons {
  max-width: 20rem;
  margin: 0 auto 3rem;
  display: flex;
  justify-content: space-evenly;
}

.SocialBlock-link {
  width: 2.5em;
  height: 2.5em;
  object-fit: cover;
  opacity: 0.7;
}

.Gallery {
  margin: 3rem 0;
}

.Gallery img {
  width: 66%;
  margin-right: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
}

.ImageFlip {
  position: relative;
  cursor: pointer;
}

.ImageFlip img {
  transition: transform 1000ms, opacity 200ms;
}

.ImageFlip img:first-child {
  position: relative;
  z-index: 1;
}
.ImageFlip img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: rotateY(-90deg); */
  transform: translate3d(-10%, 0, 0) scale(0.9);
  /* opacity: 0.7; */
}

.ImageFlip.is-flipped img:first-child {
  transform: translate3d(20%, 0, 0) scale(0.9);
  /* opacity: 0.7; */
  /* transform: scaleY(0); */
  /* transform: rotateY(90deg); */
}
.ImageFlip.is-flipped img:last-child {
  z-index: 2;
  transform: translate3d(0, 0, 0);
  /* transform: scaleY(1); */
  /* transform: rotateY(0deg); */
  /* opacity: 1; */
}

.Columns {
  margin: 3rem 1rem;
}

.ImageFlip {
  max-width: 70%;
}

@media (min-width: 1200px) {
  .Columns {
    display: flex;
    margin: 6rem 3vw;
    gap: 3vw;
    place-items: center;
  }
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
