@font-face {
  font-family: 'Bodoni bold';
  src: url('bodoni_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: black;
  color: white;
  font-family: Bodoni bold, serif;
  font-size: calc(10px + 1.2vw);
  line-height: 1.4;
}

body {
  margin: 0;
  color:white;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* FixedIconsBlock block */

.FixedIconsBlock {

  position: fixed;
	z-index: 2;
  top: 5%;
  left: 1vw;

	text-align: center;
}

.Spinner {
  cursor: pointer;
	width: calc(4rem + 2vw);
	height: calc(4rem + 2vw);
}

.PreorderBlock {
	display: block;
  text-decoration: none;
  font-size:90%;
  color:white;
	text-shadow: 1px 1px 0 black;
	line-height: 1.2;
}

.PreorderBlock:hover {
  text-decoration: underline;
}



/* VideoBlock  */

.VideoBlock {
  width: 95%;
  margin: 15vh auto 6vh;
}


.PlayButton {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
  height: 64px;
  width: 64px;
  opacity: 0.6;
  transition: opacity 200ms;
}

video-placeholder {
  background: #222;

}

[is='video-placeholder-front']:hover {
  cursor: pointer;
}

[is='video-placeholder-front']:hover .PlayButton {
  opacity: 1;
}

iframe {
  border: 0;
}

/* BackVinyl block */

.BackVinyl {
  display: block;
  max-width: 70%;
  height: auto;
  margin: 10vh auto;
}

/* jitwam and preoroder icons put vertically */

.SocialIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-bottom: 3rem;

}

.SocialBlock-link {
	width: 2.5em;
	height: 2.5em;
	object-fit: cover;
}

/* make video takes more space */

@media (min-width: 40em) {

  .VideoBlock {

    max-width: 65%;

  }

}

/* jitwam and preoroder icons put horizontally */

@media (max-width: 770px) {
	.FixedIconsBlock {
		top: 0;
		/* margin-top:-21%; */
	}
}
